<div class="row">
    <h1>Proyectos</h1>

    <div class="col-lg-2">
        <button type="button" routerLink="/nuevoproyec" class="btn btn-secondary" *ngIf="isLogged">Nuevo proyecto</button>
    </div>

    <br>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor=" let Proyectos of proyectos">
                    <td>
                        <h4>{{Proyectos.nombreP}}</h4>
                    </td>
                    <td>{{Proyectos.descripcionP}}</td>
                    <td>{{Proyectos.linkP}}</td>
                    <td>{{Proyectos.linkGithub}}</td>
                    
                    <td *ngIf="isLogged"> 
                        <button class="btn btn-secondary" routerLink="/editproyec/{{Proyectos.id}}">
                        <i class="bi bi-pencil-square"></i> Editar</button>
                    </td>
                        
                        
                    <td *ngIf="isLogged"> 
                        <button class="btn btn-secondary" (click)="delete(Proyectos.id)">
                            <i class="bi bi-x-square"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

